/* Estilos específicos para AddTutorial */
.add-tutorial-container {
  background-color: transparent;
  height: calc(100vh);
  padding: 0;
  overflow: scroll;

  padding: 10px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.add-tutorial-container::-webkit-scrollbar {
  display: none;
}


.add-tutorial-paper {
margin-bottom: 5px; 
padding: 80px 20px 20px 20px;
}

.add-tutorial-editor {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.add-tutorial-button {
  align-self: flex-end;
}

/* Estilo para los campos obligatorios */
.MuiTextField-root label.MuiInputLabel-root::after {
  content: " *";
  color: red;
}


.mdxeditor-toolbar {
  width: 75%;
  position: fixed !important;
  top: 65px;
}