/* Estilos específicos para AddTutorial */
.add-tutorial-container {
  background-color: transparent;
  height: calc(100vh);
  padding: 0;
  overflow: scroll;

  padding: 10px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.add-tutorial-container::-webkit-scrollbar {
  display: none;
}

.info-tutorial{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px; 
}

.add-tutorial-paper {
margin-bottom: 5px; 
padding: 100px 20px 20px 20px;
}

.add-tutorial-editor {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.add-tutorial-button {
  align-self: flex-end;
}

/* Estilo para los campos obligatorios */
.MuiTextField-root label.MuiInputLabel-root::after {
  content: " *";
  color: red;
}


.mdxeditor-toolbar {
  left: 20%; 
  display: flex; 
  flex-direction: row;
  position: fixed !important;
  top: 65px;
}

@media (max-width: 768px) {
  .info-tutorial{
    flex-direction: column;
    gap: 0;
  } 
  .mdxeditor-toolbar {
    left: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
  }
}
@media (max-width: 1000px) {
  .mdxeditor-toolbar {
    left: 0; 
    display: flex; 
    flex-direction: row;
    position: fixed !important;
    top: 65px;
  }
}