body,
html {
  margin: 0;
  padding: 0;
  font-family: "inter", "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

.MuiAppBar-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.MuiToolbar-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-link {
  display: flex;
  align-items: center;
  color: #c2c2c2; /* Gris claro */
  text-decoration: none;
  margin-right: 40px;
}

.navbar-link:hover {
  text-decoration: none;
}

.navbar-icon {
  width: 80px;
  height: 80px;
  margin-bottom: -8px;
  margin-top: -8px;
  margin-left: 25px;
}

.navbar-button {
  margin: 0 10px;
  border-radius: 8px; /* Bordes redondeados */
  color: #d3d3d3; /* Gris claro */
  transition: background-color 0.2s, color 0.2s; /* Transición suave */
  padding: 8px 10px;
}

.navbar-button:hover {
  background-color: rgba(144, 120, 23, 0.545); /* Amarillo con opacidad */
  color: #ffcc00; /* Amarillo oscuro */
}
